<strong>Olá, {{student}}</strong>
<p>Bem vindo a Gympoint, abaixo seguem as informações da sua matricula: </p>
<p>
    <strong>Plano: </strong> {{title}} <br />
    <strong>Preço mensal do plano: </strong>R${{plan_price}} <br />
    <strong>Duração do plano: </strong> {{duration}} mês(es)<br />
    <strong>Data de inicio: </strong> {{start_date}} <br />
    <strong>Data de termino: </strong> {{end_date}} <br />
    <strong>Preço total: </strong>R${{total_price}} <br />
    <br />
    <small>
        Esperamos voçê
    </small>
</p>